*{
    box-sizing: border-box;
}

body{
    background-color: #FFE2B0;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li{
    display: inline;
    margin-right: 100px;
}

a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

li:last-child{
    margin-right: 0px;
}

nav{
    margin-bottom: 20px;
}

.section-about {
    height: 640px;
    background-image: url(../../img/01-Картинка-фона.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.section-about__block{
    width: 410px;
    height: 180px;
    background-image: linear-gradient(180deg, rgba(232, 188, 112, 0.8) 0%, rgba(247, 206, 104, 0.8) 100%);
    top: 54%;
    left: 50%;
    position: absolute;
    z-index: 1;
}

.section-about__border{
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 10px auto;
}

.text{
    font-size: 17px;
    text-align: center;
    margin: 5px;
    color: #272727;
}

.proposals{
    text-align: center;
    color: red;
    margin: 0;
}

.section-descroption{
    margin-bottom: 20px;
}

.section-descroption__icon-box{
    text-align: center;
    margin-bottom: 20px;
}

.section-descroption__icon-box img {
    margin-right: 76px;
}

.section-descroption__icon-box img:last-child{
    margin-right: 0px;
}

.section-descroption__title{
    margin: 0;
    font-size: 96px;
    text-align: center
}

.section-descroption__span{
    color: #F15B40;
}

h2{
    text-align: center;
    color: #272727;
}

.section-map{
    margin-bottom: 20px;
}

iframe{
    display: block;
    margin: 0 auto;
}

.line{
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
}